.contenedor-portada{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

#img-portada{
    background-image: url('../../../public/descarga_ml_resize_x4.jpg');
    width: 99vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor-titulo-presentacion{
    display:grid;
    place-items: center;
}

.titulo-presentacion{
    position: absolute;
    font-size: 3.5em;
    left: 10px;
    color: black;
    font-family:'Times New Roman', Times, serif ;
    margin-bottom: 0.5em;
}

.subtitulo-presentacion{
    border-radius: 25px;
    color: rgb(105, 22, 153);
    position: absolute;
    left: 15px;
    margin-top: 6em;
    padding: 0.5em;
    font-size:1.2em;
}