.contenedor-portada {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 80vh;
    width: 100%;
}

.literalmente-la-imagen {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}

.contenedor-titulo-presentacion {
    text-align: center;
    margin-top: 1em;
    font-size: 1em;
}

.titulo-presentacion {
    font-size: 3.5em;
    font-weight: bold;
    color: rgb(230, 227, 227);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.2em;
}

.subtitulo-presentacion {
    color: rgb(208, 204, 212);
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5em;
}


@media (max-width: 750px) {
    .contenedor-titulo-presentacion {
        text-align: center;
        margin-top: 1em;
        font-size: 0.5em;
    }
}