.container-contact{
    display: grid;
    place-items: center;
    font-family:'Times New Roman', Times, serif ;
    height: 50vh;
}

.form-contacto{
    display: grid;
    place-items: center;
    width: 60%;
    color: black;
}

input{
    border-radius: 100px;
    border: 2px solid blueviolet;
    transition: all .3s ease;
    width: 100%;
    height: 40px;
    margin-top: 20PX;
    color: black;
}

input:focus{
    box-shadow:  0 0 10px white;
    border: 2px solid black;
}

.form-contact:focus{
    outline: none;
}

.div-form-nombre-apellido{
    display: flex;
    width: 100%;
}

.error-msj-contact{
    color: rgb(221, 34, 34);
}

.btn-terminar-form-contacto{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    background-color: blueviolet;
    transition: .3s ease;
    margin-right: 20px;
    margin-top: 20px;
}

.btn-terminar-form-contacto:hover{
    background-color: rgb(111, 36, 182);
    color: white;
}

