.login-section{
    height: 69.4vh;
}

.formulario-login{
    font-size: 1.3em;
    display:grid;
    place-items: center;
    border-radius: 40px;
    background-color:rgba(68, 21, 112, 0.836);
    padding: 60px;
    width: 20%;
}

.form-login{
    color: black;
    width: 15em;
}

.form-login:focus{
    outline: none;
}

.a-login{
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.a-login:hover {
    color:blueviolet ;
}
.button-login{
    background-color: blueviolet;
    transition: all .3s ease;
}

.button-login:hover{
    background-color: rgb(101, 32, 165);
}

.div-google-login{
    position: relative;
    left: 40%;
    margin-top: 20px;
    font-size: 20px;
    width: 20%;
}

.button-login-google{
    cursor: pointer;
    background-color: rgb(216, 216, 216);
    color: black;
    padding:10px 36%;
    transition: all .3s;
}

.button-login-google:hover{
    background-color: rgb(141, 141, 141);
}

.link-to-register{
    color: blueviolet;
    transition: all .3s;
    text-decoration: none;
    font-size: 20px;
}

.link-to-register:hover{
    color: rgb(101, 32, 165);
}

.boton-log-out{
    display: flex;
    margin-left: 43%;
    background-color: blueviolet;
    padding: 8px;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

.boton-log-out:hover{
    background-color: rgb(101, 32, 165);
}
