.container{
    display: grid;
    place-items: center;
}

.title-detail-prod{
    font-size: x-large;
    font-family:'Times New Roman', Times, serif ;
}

.descripcion-item{
    margin-top: 20px;
    font-size: medium;
}

.price-item{
    font-size: medium;
}

.btn-terminar{
    background-color: blueviolet;
    transition: .3s;
    text-decoration: none;
    width: 80%;
    height: 160%;
    border-radius: 10px;
    color: white;
}

.btn-terminar:hover{
    background-color: rgb(113, 20, 201);
}