.container-cart{
    display: grid;
    place-items:center ;
    height: 54.8vh;
}

.text-compra{
    font-family:'Times New Roman', Times, serif ;
}

.text-total-cart{
    font-family:'Times New Roman', Times, serif ;
}

.btn-vaciar-cart{
    height: 90px;
    width: 90px;
    border-radius: 10px;
    background-color: blueviolet;
    transition: .3s ease;
    margin-right: 30px;
}

.btn-vaciar-cart:hover{
    background-color: rgb(111, 36, 182);
    color: white;
}

.btn-terminar-compra-cart{
    height: 90px;
    width: 90px;
    border-radius: 10px;
    background-color: blueviolet;
    transition: .3s ease;
}

.btn-terminar-compra-cart:hover{
    background-color: rgb(111, 36, 182);
    color: white;
}
