.container-cart{
    display: grid;
    place-items:center ;
    height: 100%;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
    min-height: 45.2vh;
}

.text-compra{
    font-family:'Times New Roman', Times, serif ;
}

.text-total-cart{
    font-family:'Times New Roman', Times, serif ;
}

.btn-vaciar-cart{
    height: 90px;
    width: 90px;
    border-radius: 10px;
    background-color: blueviolet;
    transition: .3s ease;
    margin-right: 30px;
}

.btn-vaciar-cart:hover{
    background-color: rgb(111, 36, 182);
    color: white;
}



.btn-terminar-compra-cart:hover{
    background-color: rgb(111, 36, 182);
    color: white;
}

.datos-prods{
    width: 500px;
    display: grid;
    place-items: center;
    background-color: rgba(189, 188, 188, 0.658);
    margin: 8vh;
    border-radius: 30px;
}

.imagen-detail-prods{
    height: 400px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px blueviolet;
    transition: all .4s ease-in-out ;
}

.imagen-detail-prods:hover{
    transform: scale(0.9);
}


.p-detail-compra{
    margin-top: 20px;
}
