.div-cart{
    position: fixed;
    
    padding: 8px;
    display: flex;
    align-items: center;
}

.cart{
    width: 35px;
    cursor: pointer;
    transition: all .3s ease;
}

.cart:hover{
    opacity:.7;
    transform: scale(.9) translateY(-10%);
}