.btn-quantity{
    border: 1px solid blueviolet;
    transition: .3s;
}

.btn-quantity:hover{
    border: 1px solid blueviolet;
    background-color: blueviolet;
}

.btn-plus{
    border: 1px solid blueviolet;
    transition: .3s;
}

.btn-plus:hover{
    border: 1px solid blueviolet;
    background-color: blueviolet;
}

.btn-finalizar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    margin-left: 12px;
    margin-top: 10px;
    transition: .3s ease;
    color: white;
}

.btn-finalizar:hover{
    background-color: rgb(113, 20, 201);
}