.titulo-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-family:'Times New Roman', Times, serif ;
}

.container-prods{
    display: flex;

}
