.menulist .menulist__link {
	margin: 0 1rem;
	color: #eee;
	text-decoration: none;
	transition: all .3s ease;
	font-size: 1.4em;
}

.menulist__link:hover {
	color: blueviolet;
}

.menulist .active {
	color: blueviolet;
}

.header_container .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #eee;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.nav-btn{
	display: block; /* Mostrar solo en dispositivos móviles */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}