.menulist .menulist__link{
    margin: 0 1rem;
    color: #eee;
	text-decoration: none;
}

.menulist{
    display: grid;
    place-items: center;
    position: absolute;
    left: 40%;

}


.header_container .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #eee;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}