.container-prod{
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.btn-prod{
    position: relative;
    background-color: blueviolet;
    border-radius: 8px;
    transition: all .4s ease;
    width: 160%;
    height: 50px;
    right: 23px;
}

.btn-prod:hover{
    background-color: rgb(113, 20, 201);
}

.btn{
    color: white;
}

.title-prod{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}


