*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: rgb(24, 24, 24);
    color: white;
}

.header_container{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: baseline;
}

.title{
    display:flex;
    align-items: center;
    margin-left: 20px ;
    justify-content: space-between;
    font-size: 40px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-top: 30px;
}

.title-content{
    text-decoration: none;
    color: white;
    transition: all .4s ease-in-out;
}

.title-content:hover{
    color: rgb(112, 29, 189);
}