* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: 'Times New Roman', Times, serif;
}

body {
	background-color: rgb(24, 24, 24);
	color: white;
}

.header-header {
	position: sticky;
	top: 0;
	z-index: 100000000;
	background-color: rgb(24, 24, 24);
}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	padding: 0 2rem;
	font-family: 'Times New Roman', Times, serif;
}

.title {
	display: flex;
	align-items: center;
	margin-left: 20px;
	justify-content: space-between;
	font-size: 40px;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.title-content {
	text-decoration: none;
	color: white;
	transition: all .4s ease-in-out;
}

.title-content:hover {
	color: rgb(112, 29, 189);
}

.header_container div,
.menulist {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1400px) {
	.header_container .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.header_container .menulist {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba(61, 21, 99, 0.808);
		z-index: 100;
		gap: 1.5rem;
		transition: 1s;
	}

	.header_container .responsive_nav {
		transform: translateY(100vh);
	}

	.menulist .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.menulist .menulist__link {
		font-size: 1.5rem;
	}
}
